.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header {
  background-color: #282c34;
  width: 100%;
  padding: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
}

.login-container {
  margin-top: 20px;
}

/* SignInButton styles */
.button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  background-color: #4CAF50; /* Green */
  color: white;
}

.signInButton {
  background-color: #4CAF50; /* Green */
  color: white;
}

.signOutButton {
  background-color: #f44336; /* Red */
  color: white;
  margin-top: 20px; /* Additional spacing for separation */
}

/* UserProfile styles */
.user-container {
  margin-top: 100px; /* Adjusted top margin to account for fixed header */
  text-align: center;
}

.user-profile-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  margin: auto;
  max-width: 300px;
  text-align: left;
}

.user-avatar {
  width: 50px; /* Smaller avatar size */
  height: 50px; /* Smaller avatar size */
  border-radius: 50%;
  display: block;
  margin: 10px auto; /* Adjusted margin for avatar */
}

.user-info {
  margin-top: 10px; /* Reduced margin for user info */
}

.user-info h2, .user-info p {
  margin: 5px 0;
}
